---
const workList = [
    {
        id : 1, 
        title : "Le Bon Sauveur",
        time : "2007 - 2023",
        description : "Bachelor's degree in Computer Science and Mathematics"
    },
    {
        id : 2, 
        title : "IIM",
        time : "2023 - Now", 
        description : "French school of digital professions"
    }
]
---
<div class="h-full max-w-full bg-zinc-800 p-2 rounded-lg flex flex-col">
    <div class="flex-1 bg-zinc-900 rounded-lg text-white ">
        <div class="flex gap-2 p-4 items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-zinc-400">
                <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 00.75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 00-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0112 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 01-.673-.38m0 0A2.18 2.18 0 013 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 013.413-.387m7.5 0V5.25A2.25 2.25 0 0013.5 3h-3a2.25 2.25 0 00-2.25 2.25v.894m7.5 0a48.667 48.667 0 00-7.5 0M12 12.75h.008v.008H12v-.008z" />
            </svg>
            <p class="text-zinc-400 text-md">Work</p>
        </div>
        <div class="p-4">
            <div class="relative overflow-hidden max-h-[27vh]">
                <div class="absolute top-0 left-0 h-7 bg-gradient-to-b right-0 from-zinc-900 to-transparent z-10"></div>
                <div class="absolute bottom-0 left-0 h-7 bg-gradient-to-t right-0 from-zinc-900 to-transparent z-10"></div>
                <div class=" px-6 pt-2  max-h-[27vh] overflow-y-auto ">
                    <ol class=" border-l border-gray-200  overflow-visible relative"> 
                        {workList
                        .sort((a, b) => b.id - a.id)
                        .map
                        (work => (
                            <li class="mb-10 ml-6">            
                                <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -left-3 ring-8 ring-white z-10">
                                    <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                        <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                                    </svg>
                                </span>
                                <h3 class="flex items-center mb-4 ml-2 text-lg font-semibold text-white ">{work.title}</h3>
                                <time class="block mb-2 text-sm font-normal leading-none text-gray-400 ">{work.time}</time>
                                <p class="text-zinc-400 font-light">{work.description}</p>
                            </li>
                        ))}   
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>