---
---

<span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://nicolas-becharat.com/" class="hover:underline">Nicolas Becharat</a>. All Rights Reserved.</span>