---
const mediaList = [
    {
        id: 1,
        name: "Instagram",
        image: "/images/logo/figma.svg", 
        alt: "Instragram logo"
    },
    {
        id : 2,
        name: "Linkdin",
        image: "/images/logo/vscode.svg",
        alt: "vscode logo"
    },
    {
        id : 3, 
        name : "Discord",
        image: "/images/logo/photoshop.svg",
        alt: "photoshop logo"
    }
];
---

<div class="h-full max-w-full bg-zinc-800 p-2 rounded-lg flex flex-col">
    <div class="flex-1 bg-zinc-900 rounded-lg text-white">
        <div class="flex gap-2 p-4">
            <svg>

            </svg>
            <p>Social Media</p>
        </div>
        <div class="p-4">
            <div class="rounded-lg bg-zinc-800 w-full h-fit p-2">
                {mediaList.map(media => (
                    <div key={media.id} class="flex gap-4 py-2">
                        <img src={media.image} alt={media.alt} class="w-12 h-12 rounded-lg" />
                        <div class="flex flex-col justify-center">
                            <p class="font-semibold text-lg">{media.name}</p>
                        </div>
                        
                    </div>
                    
                ))}
            </div>
        </div>
    </div>
</div>